### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [111]:
# to see what df does look like
purchase_data.head(3)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88

In [128]:
# to find total-repeating/unique players
total_unique_player = len(purchase_data["SN"].unique())
total_unique_player

576

## Player Count

* Display the total number of players

In [129]:
# to print extracted info as given df form
total_player_db = [{"Total Players": total_unique_player} ]
new_db = pd.DataFrame(total_player_db)
new_db

   Total Players
0            576

In [2]:
# below is exmaple give/expected output

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [123]:
# to find nonrepeating/uniques items
num_uniq_item = len(purchase_data["Item Name"].unique())
num_uniq_item

179

In [124]:
ave_price = purchase_data["Price"].mean()
clean_ave_price = round(ave_price,2)
clean_ave_price

3.05

In [125]:
num_of_purchase = len(purchase_data["Purchase ID"])
num_of_purchase

780

In [126]:
total_rev = purchase_data["Price"].sum()
total_rev

2379.77

In [151]:
# creating new df based on extracted data 
# crating dictionary of lists 
purchasing_analysis_dict = {"Number of Unique Items" : [num_uniq_item],
                          "Average Price" : [clean_ave_price],
                          "Number of Purchases":[num_of_purchase],
                          "Total Revenue": [total_rev]
                      }
# creating df passinf dict of new info printg out as expected                         
purchasing_analysis_df=pd.DataFrame(purchasing_analysis_dict)
purchasing_analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

In [3]:
#below is example output

   Number of Unique Items Average Price Number of Purchases Total Revenue
0                     179         $3.05                 780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [154]:
# grouping original purchase data to perform col/list operations
gender_demo_df = purchase_data.groupby("Gender")
gender_demo_df

In [156]:
tot_count_gender = gender_demo_df.nunique()["SN"]
tot_count_gender

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [159]:
percent_of_players = tot_count_gender/ total_unique_player * 100
percent_of_players

Gender
Female                   14.062500
Male                     84.027778
Other / Non-Disclosed     1.909722
Name: SN, dtype: float64

In [186]:
new_gender_demo_df = pd.DataFrame({"Total Count":tot_count_gender, "Percentage of Players":percent_of_players})
new_gender_demo_df.index.name = None
new_gender_demo_df["Percentage of Players"] = new_gender_demo_df["Percentage of Players"].map("{:.2f}%".format)
sorted_df = new_gender_demo_df.sort_values("Total Count", ascending = False)
sorted_df
# below is my outcome

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [4]:
#below is expected outcome

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [187]:
count_purchase = gender_demo_df["Purchase ID"].count()
count_purchase

Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [188]:
ave_purch_price = gender_demo_df["Price"].mean()
ave_purch_price

Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [189]:
ave_purch_tot = gender_demo_df["Price"].sum()
ave_purch_tot

Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [191]:
ave_purch_tot_per_person = ave_purch_tot / tot_count_gender
ave_purch_tot_per_person

Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [195]:
purch_analysis_by_gender_df = pd.DataFrame({"Purchase Count":count_purchase,
                                            "Average Purchase Price":ave_purch_price,
                                            "Total Purchase Value":ave_purch_tot,
                                            "Avg Total Purchase per Person":ave_purch_tot_per_person
                                           }
                                          )
purch_analysis_by_gender_df["Average Purchase Price"] = purch_analysis_by_gender_df["Average Purchase Price"].map("${:.2f}".format)
purch_analysis_by_gender_df["Total Purchase Value"] = purch_analysis_by_gender_df["Total Purchase Value"].map("${:.2f}".format)
purch_analysis_by_gender_df["Avg Total Purchase per Person"] = purch_analysis_by_gender_df["Avg Total Purchase per Person"].map("${:.2f}".format)
purch_analysis_by_gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [5]:
# below is expected output as an example

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [203]:
age_list = purchase_data["Age"]
age_min = age_list.min()
age_min

7

In [206]:
age_max = age_list.max()
age_max

45

In [207]:
age_bins = [0,9,14,19,24,29,34,39,100]
age_group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

In [211]:
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins, labels=age_group_names)
purchase_data.head(8)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,20-24
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,35-39
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67,20-24

In [213]:
age_grouped = purchase_data.groupby("Age Group")
age_grouped

In [215]:
total_count_age = age_grouped["SN"].nunique()
total_count_age

Age Group
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: SN, dtype: int64

In [217]:
percentage_by_age = (total_count_age/total_unique_player) * 100
percentage_by_age

Age Group
<10       2.951389
10-14     3.819444
15-19    18.576389
20-24    44.791667
25-29    13.368056
30-34     9.027778
35-39     5.381944
40+       2.083333
Name: SN, dtype: float64

In [221]:
age_demographic_df = pd.DataFrame({"Total Count":total_count_age,
                                    "Percentage of Players":percentage_by_age                      
                                    }
                                  )
age_demographic_df["Percentage of Players"] = age_demographic_df["Percentage of Players"].map("${:.2f}%".format)
age_demographic_df.index.name = None
age_demographic_df

       Total Count Percentage of Players
<10             17                $2.95%
10-14           22                $3.82%
15-19          107               $18.58%
20-24          258               $44.79%
25-29           77               $13.37%
30-34           52                $9.03%
35-39           31                $5.38%
40+             12                $2.08%

In [6]:
# below is give example output

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [223]:
purchase_count_age = age_grouped["Purchase ID"].count()
purchase_count_age

<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Purchase ID, dtype: int64

In [225]:
avg_purchase_price_age = age_grouped["Price"].mean()
avg_purchase_price_age

<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64

In [226]:
total_purchase_value = age_grouped["Price"].sum()
total_purchase_value

<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [228]:
avg_purchase_per_person_age = total_purchase_value/total_count_age
avg_purchase_per_person_age

<10      4.537059
10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-39    4.763548
40+      3.186667
dtype: float64

In [229]:
age_demographics_df = pd.DataFrame({"Purchase Count": purchase_count_age,
                                    "Average Purchase Price": avg_purchase_price_age,
                                    "Total Purchase Value":total_purchase_value,
                                    "Average Purchase Total per Person": avg_purchase_per_person_age
                                   }
                                  )
age_demographics_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [231]:
spender_stats_df = purchase_data.groupby("SN")
spender_stats_df

In [235]:
purchase_count_spender = spender_stats_df["Purchase ID"].count()
purchase_count_spender.head()

SN
Adairialis76    1
Adastirin33     1
Aeda94          1
Aela59          1
Aelaria33       1
Name: Purchase ID, dtype: int64

In [236]:
avg_purchase_price_spender = spender_stats_df["Price"].mean()
avg_purchase_price_spender

SN
Adairialis76     2.280000
Adastirin33      4.480000
Aeda94           4.910000
Aela59           4.320000
Aelaria33        1.790000
                   ...
Yathecal82       2.073333
Yathedeu43       3.010000
Yoishirrala98    4.580000
Zhisrisu83       3.945000
Zontibe81        2.676667
Name: Price, Length: 576, dtype: float64

In [238]:
purchase_total_spender = spender_stats_df["Price"].sum()
purchase_total_spender

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       6.22
Yathedeu43       6.02
Yoishirrala98    4.58
Zhisrisu83       7.89
Zontibe81        8.03
Name: Price, Length: 576, dtype: float64

In [244]:
top_spenders_df = pd.DataFrame({"Purchase Count": purchase_count_spender,
                             "Average Purchase Price": avg_purchase_price_spender,
                             "Total Purchase Value":purchase_total_spender})
sorted_spenders_df = top_spenders_df.sort_values(["Total Purchase Value"], ascending=False).head()
sorted_spenders_df

sorted_spenders_df["Average Purchase Price"] = sorted_spenders_df["Average Purchase Price"].map("${:.2f}".format)
sorted_spenders_df["Total Purchase Value"] = sorted_spenders_df["Total Purchase Value"].map("${:.2f}".format)

sorted_spenders_df

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [8]:
# below is given example output

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [245]:
items_df = purchase_data[["Item ID", "Item Name", "Price"]]
items_df.head(3)

   Item ID                                  Item Name  Price
0      108  Extraction, Quickblade Of Trembling Hands   3.53
1      143                          Frenzied Scimitar   1.56
2       92                               Final Critic   4.88

In [247]:
item_stats_df = items_df.groupby(["Item ID","Item Name"])
item_stats_df

In [248]:
purchase_count_item = item_stats_df["Price"].count()
purchase_count_item

Item ID  Item Name
0        Splinter                                         4
1        Crucifer                                         4
2        Verdict                                          6
3        Phantomlight                                     6
4        Bloodlord's Fetish                               5
                                                         ..
178      Oathbreaker, Last Hope of the Breaking Storm    12
179      Wolf, Promise of the Moonwalker                  6
181      Reaper's Toll                                    5
182      Toothpick                                        3
183      Dragon's Greatsword                              3
Name: Price, Length: 179, dtype: int64

In [250]:
purchase_value = (item_stats_df["Price"].sum())
purchase_value

Item ID  Item Name
0        Splinter                                         5.12
1        Crucifer                                        11.77
2        Verdict                                         14.88
3        Phantomlight                                    14.94
4        Bloodlord's Fetish                               8.50
                                                         ...
178      Oathbreaker, Last Hope of the Breaking Storm    50.76
179      Wolf, Promise of the Moonwalker                 26.88
181      Reaper's Toll                                    8.30
182      Toothpick                                       12.09
183      Dragon's Greatsword                              3.27
Name: Price, Length: 179, dtype: float64

In [251]:
item_price = purchase_value/purchase_count_item
item_price

Item ID  Item Name
0        Splinter                                        1.2800
1        Crucifer                                        2.9425
2        Verdict                                         2.4800
3        Phantomlight                                    2.4900
4        Bloodlord's Fetish                              1.7000
                                                          ...
178      Oathbreaker, Last Hope of the Breaking Storm    4.2300
179      Wolf, Promise of the Moonwalker                 4.4800
181      Reaper's Toll                                   1.6600
182      Toothpick                                       4.0300
183      Dragon's Greatsword                             1.0900
Name: Price, Length: 179, dtype: float64

In [254]:
most_popular_items_df = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value
                                     }
                                    )
most_popular_items_df
popular_sorted = most_popular_items_df.sort_values(["Purchase Count"], ascending=False).head()
popular_sorted

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
145,Fiery Glass Crusader,9,4.580000,41.22
132,Persuasion,9,3.221111,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77

In [9]:
# below is given example output

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [256]:
popular_sorted = most_popular_items_df.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()
popular_sorted

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
82,Nirvana,9,4.900000,44.10
145,Fiery Glass Crusader,9,4.580000,41.22
103,Singed Scalpel,8,4.350000,34.80

In [10]:
#below is an example output

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80